<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"routerLink="home" href="#"><strong>MYAPP</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding: 10px;">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="formvalidation" href="#">Form Validation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="emi_calc" href="#">EMI Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bank_app" href="#">Bank App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cards" href="#">Card Eligibility</a>
      </li>
     
    </ul>
    
  </div>
</nav>

<router-outlet></router-outlet>
